@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@layer base{
    .navLink{
        @apply font-medium text-black capitalize hover:text-green3 text-base transition-all duration-300 px-4 py-2
    }
    .btn-green{
        @apply bg-green3 hover:bg-white text-white hover:text-green3 text-base font-medium capitalize px-6 py-2 rounded-md transition-all duration-300
    }
    .btn-white{
        @apply hover:bg-green3 bg-white text-black hover:text-white text-base font-medium capitalize px-6 py-2 rounded-md transition-all duration-300 border-2 border-green3
    }
    .title{
        @apply text-green3 text-xl font-medium uppercase
    }
    .centerFlex{
        @apply flex justify-center items-center
    }
    .myTransition{
        @apply transition-all duration-300 ease-in
    }

}